spring:
  application:
    name: healthscore-platform
  data:
    mongodb:
      uri: mongodb://localhost:27017/healthscore
      auto-index-creation: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    com.org.healthscore: DEBUG
    org.springframework.data.mongodb: INFO
